{
    "cases": {
        "llm": "qwen-turbo",
        "embedding": "text-embedding-v1"
    },
    "keys": {
        "openai": {
            "OPENAI_API_KEY": ""
        },
        "qianfan": {
            "QIANFAN_API_KEY": "",
            "QIANFAN_API_SECRET": ""
        },
        "baichuan": {
            "BAICHUAN_API_KEY": ""
        },
        "qwen": {
            "QWEN_API_KEY": ""
        },
        "spark": {
            "SPARK_APPID": "",
            "SPARK_API_KEY": "",
            "SPARK_API_SECRET": ""
        },
        "pinecone": {
            "PINECONE_API_KEY": ""
        },
        "complex": {
            "HUGGINGFACEHUB_API_TOKEN": ""
        }
    },
    "lists": {
        "llm": [
            {
                "name": "text-davinci-003",
                "type": "openai",
                "token": "4k",
                "temperature": 0.5
            },
            {
                "name": "gpt-3.5-turbo",
                "type": "openai",
                "token": "4k",
                "temperature": 0.5
            },
            {
                "name": "gpt-3.5-turbo-16k",
                "type": "openai",
                "token": "16k",
                "temperature": 0.5
            },
            {
                "name": "gpt-3.5-turbo-1106",
                "type": "openai",
                "token": "16k",
                "temperature": 0.5
            },
            {
                "name": "gpt-4",
                "type": "openai",
                "token": "8k",
                "temperature": 0.5
            },
            {
                "name": "gpt-4-32k",
                "type": "openai",
                "token": "32k",
                "temperature": 0.5
            },
            {
                "name": "gpt-4-turbo-preview",
                "type": "openai",
                "token": "128k",
                "temperature": 0.5
            },
            {
                "name": "gpt-3.5-turbo-instruct",
                "type": "openai",
                "token": "4k",
                "temperature": 0.5
            },
            {
                "name": "ERNIE-Bot-turbo",
                "type": "qianfan",
                "token": "7k",
                "temperature": 0.5
            },
            {
                "name": "ERNIE-4.0-8K",
                "type": "qianfan",
                "token": "7k",
                "temperature": 0.5
            },
            {
                "name": "Baichuan2-Turbo-192K",
                "type": "baichuan",
                "token": "192k",
                "temperature": 0.5
            },
            {
                "name": "qwen-turbo",
                "type": "qwen",
                "token": "6k",
                "temperature": 0.5
            },
            {
                "name": "qwen-plus",
                "type": "qwen",
                "token": "6k",
                "temperature": 0.5
            },
            {
                "name": "spark-v2",
                "type": "spark",
                "token": "8k",
                "temperature": 0.5
            },
            {
                "name": "spark-v3",
                "type": "spark",
                "token": "8k",
                "temperature": 0.5
            },
            {
                "name": "spark-v3.5",
                "type": "spark",
                "token": "8k",
                "temperature": 0.5
            }
        ],
        "embedding": [
            {
                "name": "text-embedding-3-large",
                "type": "openai",
                "token": "8k",
                "dimensions": 3072
            },
            {
                "name": "text-embedding-3-small",
                "type": "openai",
                "token": "8k",
                "dimensions": 1536
            },
            {
                "name": "text-embedding-ada-002",
                "type": "openai",
                "token": "8k",
                "dimensions": 1536
            },
            {
                "name": "Embedding-V1",
                "type": "qianfan",
                "token": "8k",
                "dimensions": 512
            },
            {
                "name": "Baichuan-Text-Embedding",
                "type": "baichuan",
                "token": "2k",
                "dimensions": 1024
            },
            {
                "name": "text-embedding-v1",
                "type": "qwen",
                "token": "2k",
                "dimensions": 1536
            }
        ],
        "audio": [],
        "video": [],
        "image": []
    },
    "user": {
        "id": "0"
    },
    "app": {
        "id": "0"
    },
    "dialog": {
        "id": "0"
    }
}